In [1]:
ls

Asteroid_Classifier_SVM.ipynb  nasa.csv.zip
nasa.csv

In [2]:
import pandas as pd
import tensorflow as tf

In [3]:
data = pd.read_csv("nasa.csv")

In [4]:
import numpy as np

In [5]:
print(data.shape)

(4687, 40)

In [6]:
data.head(10)

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,J2000,True
1,3723955,3723955,21.3,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,...,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,J2000,False
2,2446862,2446862,20.3,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,...,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,J2000,True
3,3092506,3092506,27.4,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,...,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,J2000,False
4,3514799,3514799,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,J2000,True
5,3671135,3671135,19.6,0.319562,0.714562,319.561887,714.562102,0.198566,0.444008,1048.431420,...,178.971951,556.160556,0.577800,198.145969,2.069265,2.458009e+06,354.237368,0.647295,J2000,False
6,2495323,2495323,19.6,0.319562,0.714562,319.561887,714.562102,0.198566,0.444008,1048.431420,...,178.971953,556.160544,0.577800,198.145960,2.069265,2.458009e+06,354.237396,0.647295,J2000,False
7,2153315,2153315,19.2,0.384198,0.859093,384.197891,859.092601,0.238729,0.533815,1260.491809,...,112.562984,502.808758,0.680905,288.374651,1.794045,2.458242e+06,186.776932,0.715978,J2000,False
8,2162463,2162463,17.8,0.732074,1.636967,732.073989,1636.967205,0.454890,1.017164,2401.817627,...,80.211132,447.837013,0.872705,353.422394,1.418397,2.458222e+06,182.236432,0.803864,J2000,False
9,2306383,2306383,21.5,0.133216,0.297879,133.215567,297.879063,0.082776,0.185093,437.058960,...,2.613682,299.535161,0.393040,253.765937,1.359211,2.457901e+06,119.861382,1.201862,J2000,True

In [7]:
data.isna().sum()

Neo Reference ID                0
Name                            0
Absolute Magnitude              0
Est Dia in KM(min)              0
Est Dia in KM(max)              0
Est Dia in M(min)               0
Est Dia in M(max)               0
Est Dia in Miles(min)           0
Est Dia in Miles(max)           0
Est Dia in Feet(min)            0
Est Dia in Feet(max)            0
Close Approach Date             0
Epoch Date Close Approach       0
Relative Velocity km per sec    0
Relative Velocity km per hr     0
Miles per hour                  0
Miss Dist.(Astronomical)        0
Miss Dist.(lunar)               0
Miss Dist.(kilometers)          0
Miss Dist.(miles)               0
Orbiting Body                   0
Orbit ID                        0
Orbit Determination Date        0
Orbit Uncertainity              0
Minimum Orbit Intersection      0
Jupiter Tisserand Invariant     0
Epoch Osculation                0
Eccentricity                    0
Semi Major Axis                 0
Inclination                     0
Asc Node Longitude              0
Orbital Period                  0
Perihelion Distance             0
Perihelion Arg                  0
Aphelion Dist                   0
Perihelion Time                 0
Mean Anomaly                    0
Mean Motion                     0
Equinox                         0
Hazardous                       0
dtype: int64

In [8]:
# Dividing the label and features columns in X, y and then eliminating irrelevant features such as name and ids
dataset= data
dataset = dataset.drop(['Neo Reference ID', 'Name', 'Close Approach Date',
                        'Epoch Date Close Approach', 'Orbit Determination Date'], axis=1)

dataset = dataset.drop(['Orbiting Body', 'Equinox'], axis=1)
dataset = dataset.drop([ 'Est Dia in M(min)',
                        'Est Dia in M(max)', 'Est Dia in Miles(min)','Est Dia in Miles(max)','Est Dia in Feet(min)','Est Dia in Feet(max)'], axis=1)
dataset = dataset.drop(['Relative Velocity km per hr','Miles per hour'], axis=1)
dataset = dataset.drop(['Miss Dist.(lunar)','Miss Dist.(kilometers)','Miss Dist.(miles)'], axis=1)
dataset = pd.concat([dataset,pd.get_dummies(dataset['Orbit ID'], prefix='Orbit_ID')],axis=1)

dataset.drop(['Orbit ID'],axis=1, inplace=True)
dataset.head()

,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Relative Velocity km per sec,Miss Dist.(Astronomical),Orbit Uncertainity,Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,...,Orbit_ID_337,Orbit_ID_350,Orbit_ID_358,Orbit_ID_362,Orbit_ID_370,Orbit_ID_386,Orbit_ID_412,Orbit_ID_422,Orbit_ID_453,Orbit_ID_611
0,21.6,0.127220,0.284472,6.115834,0.419483,5,0.025282,4.634,2458000.5,0.425549,...,0,0,0,0,0,0,0,0,0,0
1,21.3,0.146068,0.326618,18.113985,0.383014,3,0.186935,5.457,2458000.5,0.351674,...,0,0,0,0,0,0,0,0,0,0
2,20.3,0.231502,0.517654,7.590711,0.050956,0,0.043058,4.557,2458000.5,0.348248,...,0,0,0,0,0,0,0,0,0,0
3,27.4,0.008801,0.019681,11.173874,0.285322,6,0.005512,5.093,2458000.5,0.216578,...,0,0,0,0,0,0,0,0,0,0
4,21.6,0.127220,0.284472,9.840831,0.407832,1,0.034798,5.154,2458000.5,0.210448,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Make labels in column "Hazardous" numerical: False / True -> 0 / 1
dataset['Hazardous'] = pd.factorize(dataset['Hazardous'], sort=True)[0]

In [10]:
y = dataset.Hazardous.values
X = dataset.drop(['Hazardous'],axis=1)

# split the featureset into the numerical and one hot encoded columns
X_num = X.loc[:,'Absolute Magnitude':'Mean Motion']
X_One_Hot = X.loc[:,'Orbit_ID_1':].values

# Standardize the numerical features with the Robust Scaler
from sklearn.preprocessing import RobustScaler
RbS = RobustScaler().fit(X_num)
X_num = RbS.transform(X_num)

# merge all features back together in one numpy array
X = np.concatenate((X_num,X_One_Hot),axis=1)

In [11]:
X.shape

(4687, 208)

In [12]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)

In [19]:

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

clf = SVC(C=20, gamma='auto', kernel='rbf')
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.953125